.myChats {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  border-radius: $blockRadius;
  max-height: 89vh;
  overflow: hidden;
  flex-grow: 1;
}

.chatList {
  display: flex;
  flex-direction: column;
  background: $blockColor;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  max-height: 100%;
  overflow-y: scroll;
}
