.socialPostCard {
    background-color: $blockColor;
    border-radius: $halfBigBlockRadius;
    padding: 20px;

    .socialPostCardHead {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            margin: 0;
            padding: 0;
            transition: opacity .3s;
            color: $linkColor;

            &:hover {
                opacity: .66;
            }
        }
    }

    .socialPostCardHeadTitle {
        display: flex;
        flex-direction: column;
        gap: 5px;

        data {
            color: $accentColor;
            font-size: 14px;
        }
    }

    .socialPostCardBottom {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .socialPostActions {
            display: flex;
            flex-direction: row;
            gap: 10px;

            button {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                align-items: center;
                width: fit-content;
                color: $accentColor;

                &:hover {
                    color: $linkColor;
                }

                .likeCount {}
            }

            .liked {
                color: red;
            }
        }
    }
}