.myMessages {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $blockColor;
  border-left: 1px solid rgb(220 220 220 / 42%);
  height: 100%;
  overflow: hidden;
}

.chatPanel {
  padding: 26px;
  border-bottom: 1px solid rgb(220 220 220 / 42%);
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-height: 85px;
  gap: 15px;

  .loadingIcon {
    margin-left: auto;
  }
}

.chat {
  padding: 0px 26px 0px 26px;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 30%;
}

.sendButton {
  display: flex;
  margin-top: auto;
  width: 100%;
  padding: 20px 20px;
  border-top: 1px solid $accentColor;
  gap: 5px;
}

.chatMessagesContainer {
  overflow-y: scroll;
  width: 100%;
  @include noscrollbar;
}

.chatMessages {
  list-style: none;
  margin: 0;
  padding: 0px 0px 20px 0px;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: fit-content;
}
