@import './normalize.css';

body {
    background-color: $backgroundColor;
}

.container {
    @include container;
}

.pageWrapper {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: $textColor;
}