@import './normalize.css';

* {
  box-sizing: border-box;
  font-family: var(--gilroy-font);

  &:focus-visible {
    // outline: 1px solid $primary;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $backgroundColor;
  font-family: var(--inter-font);
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  @include container;
}

.content {
  display: flex;
  width: 100%;
}

.pageWrapper {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: $textColor;
}
