@use "sass:math";

$textColor: #000;
$linkColor: #2b5885;
$backgroundColor: #edeef0;
$accentColor: #dcdcdc;

@mixin container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}