@use "sass:math";

$inversedTextColor: #fff;
$textColor: #000;
$linkColor: #2b5885;
$backgroundColor: #edeef0;
$accentColor: #dcdcdc;
$blockRadius: 15px;
$bigBlockRadius: 60px;
$halfBigBlockRadius: 30px;
$blockColor: white;



//
$mobilePadding: 15px;
$blockPadding: 15px;

@mixin container {
    width: 100%;
    max-width: 1200px;
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
    margin: auto;
}

@mixin block {
    display: flex;
    // min-height: 300px;
    background-color: $blockColor;
    padding: $blockPadding;
    border-radius: $halfBigBlockRadius;
}

@mixin overImageButton {
    color: $inversedTextColor;
    background-color: rgba(0, 0, 0, .5);
    border-radius: $blockRadius;
    font-weight: bold;
}